
{% extends "layout.html" %}

{% block pageTitle %}
  Employ someone – Performance data
{% endblock %}

{% block content %}

      <h2 class="govuk-caption-xl">Performance data</h2>
      <h1 class="govuk-heading-xl">
        Employ someone
      </h1>
      <p class="govuk-body-l">
        Made of 12 steps, including 5 transactions and 12 pieces of guidance. Showing data for October 2018 to December 2018. <a href="#" class="govuk-link">Change time period</a><p>
      </p>

      <ol class="govuk-list govuk-list--step-by-step">
        <li>
          <h3 class="govuk-heading-l">Decide what type of employee you need</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Check whether you need full time or part time staff</a></h4>

         <!--    <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-quarter">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">12,231</p>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">12,231</p>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">12,231</p>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <h5 class="govuk-heading-s">Feedback comments</h5>
                <p class="govuk-body govuk-body--numeric">12,231</p>
              </div>
            </div> -->

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Helpline</span>
            <h4 class="govuk-heading-m"><a href="#">Check the different types of employment status</a></h4>
          </div>


          
        </li>
        <li>
          <h3 class="govuk-heading-l">Check you can afford to take on employees</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Check how much the National Minimum Wage is</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Find out how much National Insurance you need to pay for your employees</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Check how much sick pay your employees are eligible for</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Check how much you need to pay towards your employee's pension</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Check how much Maternity Leave you need to pay your employees</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Check how much Paternity Leave you need to pay your employees</a></h4>
          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Make your workplace safe and accessible for employees</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Prevent discrimation</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Make your workplace accessible for employees with disabilities or health conditions</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Keep employee information and data safe</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Check how much Paternity Leave you need to pay your employees</a></h4>
          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Register as an employer and set up PAYE</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Register as an employer and set up PAYE</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Choose how to run payroll</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">If you decide to run payroll yourself, choose payroll software</a></h4>
          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Check your responsibilities around workplace pensions</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Understand your pension responsibilities as an employer</a></h4>
          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Get Employers' Liability insurance</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Find out about Employers' Liability insurance</a></h4>
          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Recruit someone</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Find out about recruiting someone yourself on Acas</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Find out about using a recruitment agency</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Avoid discrimination during recruitment</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Make your application process accessible for employees with disabilities or health conditions</a></h4>
          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Check they have the legal right to work in the UK</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Find out how to check an applicant's right to work documents</a></h4>
          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Find out if they need a DBS check</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Find out if you need a DBS check</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">How to do a DBS check</a></h4>
          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Check if they need to be put into a workplace pension</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">If it's the first time you're employing someone...</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">If you already employ people...</a></h4>
          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Agree a contract and salary</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Check what the National Minimum Wage is for different ages</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Check what the National Minimum Wage is for different types of work</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Check what to include in a contract</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Agree a written statement of employment particulars</a></h4>
          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Tell HMRC about your new employee</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Tell HMRC about a new employee</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Get their personal details and P45 to work out their tax code</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">If you don’t have their P45, use HMRC’s ‘starter checklist’</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="#">Check what to do when you start paying your employee</a></h4>
          </div>
        </li>
      </ol>

{% endblock %}
