
{% extends "layout.html" %}

{% block pageTitle %}
  Employ someone – Performance data
{% endblock %}

{% block content %}

  <h2 class="govuk-caption-xl">Performance data</h2>
  <h1 class="govuk-heading-xl">
    Employ someone
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds performance-intro">
      <p class="govuk-body-l">
        Consists of 1 transaction, 34 pieces of guidance and 3 helplines. Showing data for December 2018.
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ol class="govuk-list govuk-list--step-by-step">
        <li>
          <h3 class="govuk-heading-l">Decide what type of employee you need</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/contract-types-and-employer-responsibilities/fulltime-and-parttime-contracts">Check whether you need full time or part time staff</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">4,528</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">0%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">38</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/employment-status">Check the different types of employment status</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">20,062</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">17%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">165</p>
              </div>
            </div>

          </div>


          
        </li>
        <li>
          <h3 class="govuk-heading-l">Check you can afford to take on employees</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/national-minimum-wage">Check how much the National Minimum Wage is</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">25,817</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">41%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">135</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/national-insurance-rates-letters">Find out how much National Insurance you need to pay for your employees</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">55,560</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">56%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">752</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/employers-sick-pay">Check how much sick pay your employees are eligible for</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">16,934</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">50%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">103</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/workplace-pensions-employers/how-to-enrol-staff">Check how much you need to pay towards your employee's pension</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">1,890</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">100%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">19</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/employers-maternity-pay-leave">Check how much Maternity Leave you need to pay your employees</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">37,431</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">29%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">253</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/employers-paternity-pay-leave">Check how much Paternity Leave you need to pay your employees</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">11,413</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">50%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">69</p>
              </div>
            </div>

          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Make your workplace safe and accessible for employees</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/employer-preventing-discrimination">Prevent discrimation</a></h4>
            
            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">2,739</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">100%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">23</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/reasonable-adjustments-for-disabled-workers">Make your workplace accessible for employees with disabilities or health conditions</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">8,209</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">93%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">39</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/personal-data-my-employer-can-keep-about-me">Keep employee information and data safe</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">37,431</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">29%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">253</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/workplace-fire-safety-your-responsibilities">Fire safety</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">10,227</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">88%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">55</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="http://www.hse.gov.uk/simple-health-safety/index.htm">Health and safety</a></h4>
          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Register as an employer and set up PAYE</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/register-employer">Register as an employer and set up PAYE</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">19,459</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">48%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">150</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Service</span>
            <h4 class="govuk-heading-m"><a href="#">Register as an employer and set up PAYE</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-half">
                <h5 class="govuk-heading-s">Transactions received</h5>
                <p class="govuk-body govuk-body--numeric">19,459</p>
  
                <ul class="govuk-list govuk-!-padding-bottom-2 govuk-body-s">
                  <li>
                    <strong>Y</strong> online
                  </li>
                  <li>
                    <strong>Y</strong> phone
                  </li>
                  <li>
                    <strong>Y</strong> paper
                  </li>
                  <li>
                    <strong>Y</strong> face-to-face
                  </li>
                  <li>
                    <strong>Y</strong> other
                  </li>
                </ul>

              </div>
              <div class="govuk-grid-column-one-half">
                <h5 class="govuk-heading-s">Transactions processed</h5>
                <p class="govuk-body govuk-body--numeric">10,123</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/paye-for-employers/choose-payroll">Choose how to run payroll</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">4,970</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">50%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">61</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/payroll-software">If you decide to run payroll yourself, choose payroll software</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">7,866</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">100%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">36</p>
              </div>
            </div>

          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Check your responsibilities around workplace pensions</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="http://www.thepensionsregulator.gov.uk/en/employers/setting-up-a-business-what-to-do-for-automatic-enrolment.aspx">Understand your pension responsibilities as an employer</a></h4>
          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Get Employers' Liability insurance</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/employers-liability-insurance">Find out about Employers' Liability insurance</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">4,218</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">80%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">55</p>
              </div>
            </div>

          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Recruit someone</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="http://www.acas.org.uk/index.aspx?articleid=4217">Find out about recruiting someone yourself on Acas</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/using-a-recruitment-agency-to-find-staff">Find out about using a recruitment agency</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">534</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">0%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">2</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/employer-preventing-discrimination/recruitment">Avoid discrimination during recruitment</a></h4>
            
            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">3,472</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">1%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">8</p>
              </div>
            </div>

          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Check they have the legal right to work in the UK</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/check-job-applicant-right-to-work">Find out how to check an applicant's right to work documents</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">18,122</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">73%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">113</p>
              </div>
            </div>

          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Find out if they need a DBS check</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/dbs-check-applicant-criminal-record">Find out if you need a DBS check</a></h4>
  
            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">91,480</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">46%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">820</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/dbs-check-applicant-criminal-record/how-to-apply-for-a-check">How to do a DBS check</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">91,480</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">46%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">820</p>
              </div>
            </div>

          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Check if they need to be put into a workplace pension</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="http://www.thepensionsregulator.gov.uk/en/employers/new-employers/step-1.aspx">If it's the first time you're employing someone...</a></h4>
          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="http://www.thepensionsregulator.gov.uk/en/employers/new-employers/pension/i-am-an-employer-who-has-to-provide-a-pension/declare-your-compliance/your-ongoing-duties.aspx">If you already employ people...</a></h4>
          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Agree a contract and salary</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/national-minimum-wage-rates">Check what the National Minimum Wage is for different ages</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">368,889</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">75%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">1,124</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/minimum-wage-different-types-work">Check what the National Minimum Wage is for different types of work</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">7,201</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">60%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">54</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/employment-contracts-and-conditions/contract-terms">Check what to include in a contract</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">12,726</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">64%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">142</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/employment-contracts-and-conditions/written-statement-of-employment-particulars">Agree a written statement of employment particulars</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">10,606</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">100%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">62</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <h3 class="govuk-heading-l">Tell HMRC about your new employee</h3>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/new-employee">Tell HMRC about a new employee</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">7,482</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">33%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">122</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/new-employee/employee-information">Get their personal details and P45 to work out their tax code</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">14,110</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">33%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">239</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/new-employee/late-p45">If you don’t have their P45, use HMRC’s ‘starter checklist’</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">4,504</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">43%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">152</p>
              </div>
            </div>

          </div>
          <div class="govuk-box">
            <span class="govuk-caption-m">Guidance</span>
            <h4 class="govuk-heading-m"><a href="https://www.gov.uk/running-payroll">Check what to do when you start paying your employee</a></h4>

            <div class="govuk-grid-row govuk-grid-row--data-overview govuk-grid-column-two">
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Unique pageviews</h5>
                <p class="govuk-body govuk-body--numeric">9,054</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">User satisfaction</h5>
                <p class="govuk-body govuk-body--numeric">67%</p>
              </div>
              <div class="govuk-grid-column-one-third">
                <h5 class="govuk-heading-s">Searches from this page</h5>
                <p class="govuk-body govuk-body--numeric">110</p>
              </div>
            </div>

          </div>
        </li>
      </ol>
    </div>
    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">Helpline</span>
      <h4 class="govuk-heading-m"><a href="http://www.acas.org.uk/index.aspx?articleid=4489" class="govuk-link">Acas</a></h4>
      <div class="govuk-box govuk-box--small">
        <h5 class="govuk-heading-s govuk-body--data-label">Calls received</h5>
        <p class="govuk-body govuk-body--numeric govuk-body--data-value">123,456</p>
        <ul class="govuk-list govuk-!-padding-bottom-2 govuk-body-s">
          <li>
            <strong class="">Y</strong> to make a transaction
          </li>
          <li>
            <strong>Y</strong> to get information
          </li>
          <li>
            <strong>Y</strong> to chase progress
          </li>
          <li>
            <strong>Y</strong> to challenge a decision
          </li>
          <li>
            <strong>Y</strong> for other reasons
          </li>
        </ul>
      </div>
      <span class="govuk-caption-m">Helpline</span>
      <h4 class="govuk-heading-m"><a href="https://www.gov.uk/government/organisations/disclosure-and-barring-service" class="govuk-link">Disclosure and Barring Service</a></h4>
      <div class="govuk-box govuk-box--small">
        <h5 class="govuk-heading-s govuk-body--data-label">Calls received</h5>
        <p class="govuk-body govuk-body--numeric govuk-body--data-value">123,456</p>
        <ul class="govuk-list govuk-!-padding-bottom-2 govuk-body-s">
          <li>
            <strong class="">Y</strong> to make a transaction
          </li>
          <li>
            <strong>Y</strong> to get information
          </li>
          <li>
            <strong>Y</strong> to chase progress
          </li>
          <li>
            <strong>Y</strong> to challenge a decision
          </li>
          <li>
            <strong>Y</strong> for other reasons
          </li>
        </ul>
      </div>
      <span class="govuk-caption-m">Helpline</span>
      <h4 class="govuk-heading-m"><a href="https://www.gov.uk/jobcentre-plus-help-for-recruiters/recruitment-advice-and-support" class="govuk-link">Small Business Recruitment Service</a></h4>
      <div class="govuk-box govuk-box--small">
        <h5 class="govuk-heading-s govuk-body--data-label">Calls received</h5>
        <p class="govuk-body govuk-body--numeric govuk-body--data-value">123,456</p>
        <ul class="govuk-list govuk-!-padding-bottom-2 govuk-body-s">
          <li>
            <strong class="">Y</strong> to make a transaction
          </li>
          <li>
            <strong>Y</strong> to get information
          </li>
          <li>
            <strong>Y</strong> to chase progress
          </li>
          <li>
            <strong>Y</strong> to challenge a decision
          </li>
          <li>
            <strong>Y</strong> for other reasons
          </li>
        </ul>
      </div>
      <span class="govuk-caption-m">Helpline</span>
      <h4 class="govuk-heading-m"><a href="https://www.jobcentreguide.co.uk/jobcentre-plus-guide/34/disability-employment-advisors" class="govuk-link">Disability Employment Adviser</a></h4>
      <div class="govuk-box govuk-box--small">
        <h5 class="govuk-heading-s govuk-body--data-label">Calls received</h5>
        <p class="govuk-body govuk-body--numeric govuk-body--data-value">123,456</p>
        <ul class="govuk-list govuk-!-padding-bottom-2 govuk-body-s">
          <li>
            <strong class="">Y</strong> to make a transaction
          </li>
          <li>
            <strong>Y</strong> to get information
          </li>
          <li>
            <strong>Y</strong> to chase progress
          </li>
          <li>
            <strong>Y</strong> to challenge a decision
          </li>
          <li>
            <strong>Y</strong> for other reasons
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
